* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url('img/timer.jpg');
  background-size: cover;
  background-position: center center;
}

.container {
  width: 100vw;
  height: 100vh;
}

/* タイトル */
#title {
  width: 100%;
  height: 10%;
  margin-top: 1rem;
  font-size: 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 4px;
  animation: slideUp 1s;
}

/* タイトルを下から上にスライドイン */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 結果 */
#diff {
  width: 100%;
  height: 10%;
  margin: 1rem auto 0 auto;
  font-size: 2rem;
  text-align: center;
  color: tomato;
}

.message {
  animation: slideIn 0.3s;
}

/* 結果を右からスライドイン */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(50%);
  }
}

/* 目標タイム 実際タイム*/
#random-time,
#result-time {
  width: 100%;
  height: 10%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  letter-spacing: 4px;
}

/* 回転 */
#result-time.rotation {
  width: 3rem;
  height: 3rem;
  border: 8px solid #fff;
  /* 透明 */
  border-right-color: transparent;
  border-radius: 50%;

  animation: rotate 1s infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 許容誤差 */
#admit-time {
  width: 70%;
  height: 10%;
  margin: 0.5rem auto 0 auto;
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ボタン取りまとめ */
.btn-wrapper {
  width: 100%;
  height: 45%;
  margin: 1rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* ボタン */
.btn {
  width: 100%;
  height: 25%;
  background: skyblue;
  color: darkblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;

  transition: all 0.3s;
}

.btn:not(.inactive):hover {
  color: skyblue;
  background-color: darkblue;
}

.btn:active {
  transform: scale(0.98);
}

/* ボタン利用不可 */
.inactive {
  opacity: 0.6;
  cursor: not-allowed;
}

/* ゲームルール */
#rule {
  /* 上下左右中央に寄せる */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -300%);
  width: 70%;

  color: black;
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 48px 80px rgba(0, 0, 0, 0.3);
  /* overlayより上に重ねる */
  z-index: 10;
  transition: all 1s ease-in-out;
}

#rule p {
  line-height: 1.7;
}

/* ルールをだす */
#rule.show {
  transform: translate(-50%, 0);
}

/* ぼかしを隠す */
.hidden {
  display: none;
}

/* ぼかしをかぶせる */
#overlay-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* ぼかしを入れる  px単位でぼやけ具合を指定*/
  backdrop-filter: blur(3px);
  /* modalの下に置く */
  z-index: 5;
}

/* ルールを閉じるボタン */
#close-rule {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 60px;
  color: black;
  cursor: pointer;
  border: none;
  background: none;
}

@media (min-width: 40rem) {
  .container {
    max-width: 800px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
  .btn-wrapper {
    height: 20%;
    max-width: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5%;
    row-gap: 10%;
  }
  .btn {
    height: 100%;
    border-radius: 100px;
    border: none;
  }
}
